/* All common css start */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.containerOne{
    width: 1320px;
    margin: 0 auto;
}

.containerTwo{
    width: 1500px;
    margin: 0 auto;
}

/* All common css end */

.underlay{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background: linear-gradient(45deg, #1bb87e, #fff, #2675c9);
}

.circleOne{
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: #10dc91;
    top: 25px;
    right: 0;
}

.circleTwo{
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: #2675c9bf;
    top: 300px;
    left: 0;
}

.roundedBox p{
    font-size: 64px;
    color: white;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 700; 
    text-align: center; 
    position: absolute;
    z-index: 2;
    background: #2675c9bf;
    border-radius: 25px;
    top: 25px;
    left: 200px;
    padding: 35px;
}

.box p{
    font-size: 48px;
    color: white;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 700; 
    text-align: center; 
    position: absolute;
    z-index: 2;
    background: #1bb87fbf;
    top: 425px;
    right: 200px;
    padding: 35px;
}

.box p i{
    font-size: 24px;
}

.overlay{
    position: relative;
    z-index: 3;
    backdrop-filter: blur(3px);
    min-height: 100vh;
}

.heightBox{
    position: relative;
}

.circleThree{
    position: absolute;
    z-index: 2;
    height: 100px;
    width: 100px;
    background: #ff000099;
    border-radius: 50%;
    top: 25px;
    left: 0;
}

.circleFour{
    position: absolute;
    z-index: 2;
    height: 100px;
    width: 100px;
    background: #8800ff99;
    border-radius: 50%;
    top: 445px;
    right: 0;
}

.circleFive{
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    background: #ff00ff99;
    border-radius: 50%;
    top: 550px;
    left: 350px;
}

.circleSix{
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    background: #ff660099;
    border-radius: 50%;
    top: 585px;
    left: 850px;
}

.circleSeven{
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    background: #00ffff;
    border-radius: 50%;
    top: 600px;
    right: 300px;
}

.circleEight{
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    background: #ffff00;
    border-radius: 50%;
    top: 610px;
    left: 580px;
}

.textBoxHolder{
    justify-items: center;
    padding-top: 167px;
}

.textBox{
    z-index: 5;
    padding: 24px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    width: 850px;
    text-align: center;
    background: #ffffff2d;
}

h1 {
    color: #00000099;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 700;
}

p {
    color: #00000099;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    padding: 25px 0;
    font-weight: 600;
}

span {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-style: italic;
}

h3{
    color: #00000099;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

a{
    color: #00000099;
    display: inline-block;
    transition: .5s;
}
a:hover{
    color: #2dd72d;
    transform: translateY(-15px) rotate(180deg) scale(1.25);
}

h6 {
    color: #00000099;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    padding-top: 25px;
}